h1 {
    background-color: green;
    color: black;
    font-family: serif;
    letter-spacing: 10px;
}

body {
    background-image: url("https://miro.medium.com/v2/resize:fit:600/1*0ttFuc9a8RMCQxCbrNeMNg.png");
    background-color: aqua;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 200% 100%;
    background-position: center;
    background-attachment: scroll;
}

img {
    background-color: aqua;
    float: left;
}

p {
    background-color: white;
    color: red;
    font-size: 30;
}

a:link {
    color: black;
    background-color: gray;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: lightcoral;
    text-decoration: none;
}


/* a:visited {
    color: red;
    background-color: green;
    text-decoration: none;
} */